<table class="table table-secondary fs-5 text-dark bg-warning rounded-3 fw-bolder table-striped">
  <thead>
    <tr>
      <th scope="col font-monospace">Departamento</th>
      <th scope="col font-monospace" class="text-end">Nomes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let departamento of departamentos">
      <td class="col-3 font-monospace">{{ departamento.nome }}</td>
      <td class="col text-end font-monospace">{{ departamento.nomes.join(' - ') }}</td>
    </tr>
  </tbody>
</table>