<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">

    <div class="col-md-4">
      <img
        [src]="filme.urlPoster" 
        alt="Imagem Dinâmica do Filme {{filme.titulo}}"
        class="img-fluid rounded-start px-0"
        routerLink="/filmes/detalhes/{{filme.id}}"
      />
    </div>

    <div class="col-md-8 bg-secondary">

      <div class="card-body p-6">
        
        <a 
          routerLink="/filmes/detalhes/{{filme.id}}" 
          class="fs-3 link-warning text-decoration-none fw-semibold"
        >{{ filme.titulo }}</a>

        <p class="card-text fs-4 pt-5 text-white font-monospace">{{ filme.visaoGeral }}</p>
        <div class="position-absolute bottom-0 end-0 p-2">
          <p class="card-text text-white text-end align-text-bottom font-monospace"><small class="text-body-white align-text-bottom">{{ filme.dataLancamento}}</small></p>

        </div>
        
      </div>
    
    </div>

  </div>
</div>