<body class="bg-dark">
  <div class="container d-grid gap-3">
    <!-- Cabecalho -->
    <div class="row">
      <div class="d-flex align-items-center">
        <h1 class="text-warning fw-bold mt-3">{{filmeDetalhes.titulo}} </h1>
        
        <div class="ms-auto text-end">
          <p class="fw-medium text-warning">{{filmeDetalhes.contagemVotos}} de votos</p>
          <i 
            class="bi fs-2 text-warning"
            [ngClass]="{'bi-heart-fill': listaFavoritos.ids.includes(id), 'bi-heart': !listaFavoritos.ids.includes(id)}"
            (click)="atualizarListaFavoritos()"
          ></i>
        </div>
      </div>
      <small id="dataLancamento" class="fw-medium text-warning">{{filmeDetalhes.dataLancamento}}</small>
    </div>

    <!-- Seção do Poster e Trailer -->
    <div class="row gap-3">
      <div class="col-lg-3 text-warning">
        <img
          [ngSrc]="filmeDetalhes.urlPoster"                                                                                                                                                 
          class="img-fluid rounded-3"
          width="400"
          height="600"
          loading="lazy"
          sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 25vw"
          alt="Ops.. Ocorreu um problema interno, por enquando, use o Google basta procurar por: Filme {{filmeDetalhes.titulo}}"
        />
      </div>
      <div class="col-lg">
        <div class="ratio ratio-21x9 h-100 text-warning">
          <iframe
            class="rounded-3"
            id="iframeTrailer"
            [src]="trailerUrl"
            frameborder="0"
            allowfullscreen
          ></iframe>
           Ops.. Ocorreu um problema interno, por enquando, use o Youtube, basta procurar por: {{filmeDetalhes.titulo}}
        </div>
      </div>
    </div>

    <!-- GERENOS -->
    <div class="d-flex gap-3">
      <div 
        class="row px-2" 
        *ngFor="let genero of filmeDetalhes.genero"
      >
        <span class="badge rounded-pill fs-5 px-4 py-2 bg-warning text-dark">
          {{genero}}
        </span>
      </div>
    </div>

    <!-- VISAO GERAL -->
    <div class="row">
      <p class="fs-5 fw-medium text-light font-monospace">
        {{filmeDetalhes.visaoGeral}}
      </p>
    </div>


    <app-tabela-creditos-filmes
      [departamentos]="departamentos"
    >
    </app-tabela-creditos-filmes>

  </div>
</body>