ngb-pagination ::ng-deep ul > li:not(.active) > a {
  background-color: #ffc107 !important;
  border: #fff;
  font-weight: 500;
  color: black;
}

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #495057 !important;
  font-weight: bold;
  border: #fff;
  color: black;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: #ffc107;
  border: #fff;
  color: black;
}

ngb-pagination ::ng-deep ul {
  margin-bottom: 0px;
}